body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
/* avatar */
.usuario {
    text-align: center;
    border: 2px solid #ccc;
    padding: 10px;
    margin: 15px;
}

#avatar {
    max-width: 100px;
    border-radius: 50%;
}

#nombre {
    font-size: 1.5em;
    margin: 5px 0;
}

#detalles {
    font-size: 1.2em;
}
/* menu de opciones */
#menu {
    width: 250px;
    height: 100%;
    background-color: #333;
    color: #fff;
    position: fixed;
    transition: all 500ms linear;
}

 #menu.oculto {
    left: -250px;
}

#menu i{
    margin: 0 10px;
}
#menu ul {
    list-style: none;
    padding: 0;
}

#menu li {
    padding: 5px;
    display: flex;
}
#menu li:hover{
    background-color: #cccccc60
}
#menu i{
    color: #ffffff;
}

.opcion {
    width: 100%;
    height: 30px;
    padding-right:100% ;
    text-decoration: none;
    color: #ffffff;
}
#menu hr{
    margin: 10px;
    padding: 1px;
}
.open{
    position: absolute;
    left: 260px;
    top: 10px;
    cursor: pointer;
    color: black;
}
/* animacion del icono de menu*/
.bars__menu{
    width: 30px;
    height: 30PX;
}

.bars__menu span {
    display: block;
    width: 100%;
    height: 2px;
    background: #9A00BF;
    margin-top: 6px;
    transform-origin: 0px 100%;
    transition: all 300ms;
}

.activeline1__bars-menu{
    transform: rotate(45deg) translate(-2px, 1px); 
}

.activeline2__bars-menu{
    opacity: 0;
    margin-left: -40px; 
}

.activeline3__bars-menu{
    transform: rotate(-45deg) translate(-4px, 2px);
}

/* stilos de contenido */
.contenido {
    /* margin-left: 250px; */
    padding-top: 45px;
    padding-left: 20px;
} 